body {
    margin: 0px;
    padding: 0px;
}

.mainBody {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SuccessValidationWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 475px;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.tokenTextSuccessValidation {
    margin-left: 25px;
    font-size: 24px;
    color: #3D4543;
}

.validImg{
    width: 55px;
    height: 45px;
}

.exitBtn{
    margin-top: 15px;
    margin-left: -420px;
}

.validAndText{
    display: flex;
    align-items: center;
}

@media (max-width: 425px){

    .SuccessValidationWindow {
        width: 380px;
        height: 160px;
    }

    .exitBtn{
        margin-left: -320px;
    }
}

@media (max-width: 375px){
    

    .SuccessValidationWindow {
        width: 330px;
        height: 160px;
    }

    .exitBtn{
        margin-left: -280px;
    }
}

@media (max-width: 320px){
    

    .SuccessValidationWindow {
        width: 300px;
        height: 160px;
    }

    .exitBtn{
        margin-left: -250px;
    }
}
