.mainBodyStudent {
    height: 68vh;
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.firstName{
    min-width: 100px;
    }

.lastName{
    min-width: 100px;
}

.email{
    min-width: 225px
}

.studentTable{
    width: 40%!important;
    height: 15%!important;
}

.titleStudent{
    height: 5vh;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-right: 1vw;

}


.selectAndDownload{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}
